.field {
    min-height: 400px;
    margin-top: 64px;
    padding: 16px;
}
/* custom scroll */

/* total width */
body::-webkit-scrollbar {
    background-color: transparent;
    width:8px
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color: transparent;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:8px;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {display:none}